@import "tailwindcss";

@import "tailwindcss";

:root {
  --background: #f8fcfb;
  --foreground: #0d1c19;
  --color-primary: #66bb6a;
  --color-secondary: #499c8d;
  --color-border: #e7f4f1;
  --color-button: #e7f4f1;

  --color-surface: #ffffff;
  --color-surface-alt: #f3faf6;
  --color-muted: #4b615a;

  --font-sans: "Inter", "Noto Sans", sans-serif;
  --font-chillax: "Chillax-Variable", sans-serif;
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #10231f;
  --foreground: #ffffff;
  --color-primary: #66bb6a;
  --color-secondary: #90cbc0;
  --color-border: #224942;
  --color-button: #224942;

  --color-surface: #163530;
  --color-surface-alt: #1c3f38;
  --color-muted: #cfded8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
